body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #29e6b4;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #1f76bd;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  width: 600px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group input, .form-group button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

#todo-input {
  flex: 2;
}

#date-input {
  flex: 1;
}

#add-btn {
  background-color: #43dbab;
  color: rgb(10, 8, 8);
  font-size: 18px;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.actions button {
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background-color: #d58f7c;
  color: rgb(10, 8, 8);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #d169ba;
}

.empty {
  text-align: center;
  color: #5ce1cd;
}